.mdc-textfield--focused .mdc-textfield__label {
	color: #5d4037;
}

.mdc-button {
	color: #fff;
	background-color: #5d4037;
}

.mdc-button:hover {
	background-color: #4e342e;
}

.error {
	color: #f00;
}
